.DS_Store
__pycache__

*.npy
*.root
*.log
*.ckpt
*.pdf
*.h5
*.sdf
.coverage

*.egg-info/
*_cache/
logs/
tmp/
env/
build/
conda/
bin/
plots/
run/
upp/output/
upp/error/
upp/log/

**user**
**temp**
.vscode/launch.json
